<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рубежный контроль 2</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="css" width="15" height="15" viewBox="0 0 2 2">
                <circle cx="1" cy="1" r="1" />
            </symbol>
            <symbol id="front">
                <rect x="10" y="10" width="15" height="15"/>
            </symbol>
            <symbol id="back">
                <rect x="10" y="10" width="15" height="15" rx="2" ry="2"/>
            </symbol>
        </svg>
        <header class="header">
            <div class="container container_header">
                <div class="header__logo">
                    <img srcset="img/logo-150w.jpg,
            img/logo-200w.jpg 1.5x,
            img/logo-250w.jpg 2x" src="img/logo-250w.jpg" alt="logo">
                </div>
                <nav class="header__menu">
                    <ul>
                        <li><a href="#1">Технологии</a></li>
                        <li><a href="#2">Добавить</a></li>
                        <li><a href="#3">Изучить</a></li>
                        <li><a href="#4">Изученные</a></li>
                    </ul>
                </nav>
                <button class="header__themeButton" onclick="toggleTheme()">Сменить тему</button>
            </div>
        </header>
        <main>
            <div class="container container_main">
                <h1 id='1'>Веб-технологии</h1>
                <section>
                    <h2>Лучшие фреймворки CSS</h2>
                    <div class="item">
                        <h3 class="item__title">Bootstrap</h3>
                        <img src='img/item-1.png' alt="Bootstrap">
                        <p class="item__description">Эту платформу создали в Twitter в 2011 году, чтобы сделать
                            адаптивный дизайн доступным для разработчиков. С тех пор проект развился и предлагает
                            бесчисленное множество функций для повышения производительности интерфейса.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Можно найти решения практически любой проблемы.</li>
                            <li>Множество бесплатных и премиальных шаблонов.</li>
                            <li>Bootstrap легко настраивается с помощью SASS. </li>
                            <li>Большое сообщество разработчиков</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3 class="item__title">Foundation</h3>
                        <img src='img/item-2.jpeg' alt="Foundation">
                        <p class="item__description">Foundation – идеальный выбор для опытных разработчиков,
                            которым нравится свобода действий. Это не просто библиотека CSS, а скорее семейство
                            инструментов для разработки внешнего интерфейса. Их можно использовать вместе или полностью
                            независимо.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Не использует отдельный стиль.</li>
                            <li>Широкий спектр модульных гибких компонентов отличается минимализмом и легко
                                настраивается.</li>
                            <li>Motion UI позволяет создавать переходы и анимацию с использованием встроенных эффектов.
                            </li>
                            <li>Foundation также предлагает доступ к готовым HTML-шаблонам.</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3 class="item__title">Bulma</h3>
                        <img src='img/item-3.png' alt="Bulma">
                        <p class="item__description">Bulma – отличная альтернатива Bootstrap с современным кодом и
                            уникальной эстетикой.
                            Инструментарий отличается простым синтаксисом, изобилует готовыми компонентами, к тому же
                            его легко импортировать в проекты.
                            Этот фреймворк сделает скучную веб-страницу яркой и привлекательной: более 40000 звезд на
                            GitHub – важный показатель.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Отличается чистым и современным дизайном. </li>
                            <li>Модуль на основе flexbox упрощает создание адаптивных макетов.</li>
                            <li>Инструментарий предлагает соглашение об именах, которые легко использовать и запоминать.
                            </li>
                            <li>Не включает функции JavaScript, однако без труда интегрируется с популярными
                                фреймворками.</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h2>Лучшие фреймворки для Front-end</h2>
                    <div class="item">
                        <h3 class="item__title">React.js</h3>
                        <img src='img/item-4.png' alt="React.js">
                        <p class="item__description">Отличный JavaScript фреймворк, выпущенный в 2013 году Instagram и
                            Facebook.
                            Используя его, вы сможете легко и просто создавать сложные и крупномасштабные динамические
                            приложения.
                            Чаще всего используется для построения пользовательских интерфейсов. На GitHub этот
                            фреймворк имеет больше 89 тыс. звезд.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Девиз React: «Выучи один раз – пиши везде»</li>
                            <li>Free and Open Source</li>
                            <li>Может использовать уже написанный код</li>
                            <li>Поддерживает виртуальную функциональность DOM</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3 class="item__title">Angular</h3>
                        <img src='img/item-5.png' alt="Angular">
                        <p class="item__description">AngularJS – это каркас для разработки веб-приложений от Google.
                            Хорошо подходит для динамических веб-приложений, с использованием HTML для статических
                            веб-страниц.
                            Незаменимый фреймворк не только для разработчиков ПО, но и для дизайнеров. AngularJS,
                            Angular 2
                            и Angular 4 прочно обосновались среди востребованных фреймворков. </p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Открытый исходный код</li>
                            <li>Сохранение фрагментов кода для последующего использования</li>
                            <li>Разработчики сталкиваются с меньшим количеством ошибок, поскольку привязка данных
                                строится на базе Angular-элементов
                            </li>
                            <li>Поддерживаются различные элементы MVС</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3 class="item__title">Vue.js</h3>
                        <img src='img/item-6.jpeg' alt="Bulma">
                        <p class="item__description">Он также используется для создания пользовательских интерфейсов.
                            азработан с нуля для большей применимости. Состоит из доступной базовой библиотеки, которая
                            фокусируется только на уровне представления, и экосистемы поддерживающих библиотек, что
                            помогает
                            справляться с комплексностью больших одностраничных приложений. На GitHub этот проект набрал
                            больше 84 тыс. звезд.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Не требует каких-либо компиляторов по умолчанию</li>
                            <li>Трансформация из библиотеки до фреймворка в процессе использования</li>
                            <li>Управление продвинутыми одностраничными приложениями
                            </li>
                            <li>Отличный баланс между читаемостью, ремонтопригодностью кода и написания самого кода
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <h2>Лучшие фреймворки для Back-end</h2>
                    <div class="item">
                        <h3 class="item__title">Django</h3>
                        <img src='img/item-7.png' alt="Django">
                        <p class="item__description">Django — это ведущая серверная среда с открытым исходным кодом, 
                            основанная на языке программирования Python. Он следует шаблону контроллера представления модели (MVC). 
                            Django подходит для разработки сложных и многофункциональных веб-сайтов на основе баз данных.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Быстрая структура</li>
                            <li>Многофункциональный</li>
                            <li>Оптимальная безопасность</li>
                            <li>Высокая масштабируемость</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3 class="item__title">Laravel</h3>
                        <img src='img/item-8.png' alt="Laravel">
                        <p class="item__description">Lavarel — это веб-фреймворк PHP с открытым исходным кодом для разработки 
                            веб-приложений на основе Symfony, которые следуют архитектуре модель – представление – контроллер (MVC).
                            Он предлагает модульную упаковочную систему со специальным менеджером зависимостей. 
                            Laravel также предоставляет своим пользователям несколько способов доступа к реляционным базам данных,
                            а также утилит для обслуживания и развертывания приложений. Laravel имеет лицензию MIT и исходный код 
                            размещен на GitHub.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Аутентификация</li>
                            <li>Простой API</li>
                            <li>Бэкэнды кеширования
                            </li>
                            <li>Журналы</li>
                        </ul>
                    </div>
                    <div class="item">
                        <h3 class="item__title">Ruby on Rails</h3>
                        <img src='img/item-9.png' alt="Ruby on Rails">
                        <p class="item__description">Ruby on Rails, также известный как Rails, представляет собой платформу 
                            серверных веб-приложений на основе Ruby с лицензией MIT. Rails — это среда MVC, предлагающая структуры
                            базы данных по умолчанию, веб-страницы и веб-службы. Ruby on Rails продвигает использование веб-стандартов,
                            таких как XML или JSON, для передачи данных и CSS, JavaScript и HTML для взаимодействия.</p>
                        <p class="item__benefits">Преимущества</p>
                        <ul class="item__list">
                            <li>Экономия времени</li>
                            <li>Последовательность</li>
                            <li>Рентабельность
                            </li>
                            <li>Качественная разработка
                            </li>
                        </ul>
                    </div>
                </section>
                <section id='2'>
                    <h2>Добавить в мой список</h2>
                    <div class="form">
                        <label for="title">Название</label>
                        <input id="title" type="text" v-bind:value="title" v-on:input="titleFun" placeholder="Название">
                        <select v-bind:value="category" v-on:change="categoryFun">
                            <option selected disabled>Выберите категорию</option>
                            <option value="css">CSS</option>
                            <option value="front">Front-end</option>
                            <option value="back">Back-end</option>
                        </select>
                        <label for="description">Полезная информация</label>
                        <textarea id="description" v-bind:value="description" v-on:input="descriptionFun"></textarea>
                        <label for="hour">Часов на изучение:</label>
                        <input id="hout" type="number" v-bind:value="hour" v-on:input="hourFun">
                        <button class="btn" v-on:click="addTask">Добавить</button>
                    </div>
                </section>
                <section id='3'>
                    <h2>Изучить ------- {{ needDoList.length }}</h2>
                    <div class="item" v-for="(mask, index) in needDoList" :key="mask.id">
                        <h3 class="item__title">{{ mask.title }}</h3>
                        <svg width="15" height="15" v-if="mask.category === 'css'"><use xlink:href="#css" fill='blue' /></svg>
                        <svg width="15" height="15" v-if="mask.category === 'front'"><use xlink:href="#front" fill='red' /></svg>
                        <svg width="15" height="15" v-if="mask.category === 'back'"><use xlink:href="#back" fill='orange' /></svg>
                        <p class="item__description">{{ mask.description }}</p>
                        <p class="item__hour">{{ mask.hour }}</p>
                        <input class="item__check" type="checkbox" v-on:change="doCheck(index, 'need')" >
                        <button class="item__button" v-on:click="removeMask(index, 'need')">Удалить</button>
                    </div>
                </section>
                <section id='4'>
                    <h2>Изученные ------- {{ completeList.length }}</h2>
                    <div class="item" v-for="(mask, index) in completeList" :key="mask.id">
                        <h3 class="item__title">{{ mask.title }}</h3>
                        <svg width="15" height="15" v-if="mask.category === 'css'"><use xlink:href="#css" fill='blue' /></svg>
                        <svg width="15" height="15" v-if="mask.category === 'front'"><use xlink:href="#front" fill='red' /></svg>
                        <svg width="15" height="15" v-if="mask.category === 'back'"><use xlink:href="#back" fill='orange' /></svg>
                        <p class="item__description">{{ mask.description }}</p>
                        <p class="item__hour">{{ mask.hour }}</p>
                        <input class="item__check" type="checkbox" v-on:change="doCheck(index, 'complete')" checked>
                        <button class="item__button" v-on:click="removeMask(index, 'complete')">Удалить</button>
                    </div>
                </section>
            </div>
        </main>
        <footer>
           <p>Воробьёв Владислав Владимирович, 201-321, 04.06.2021</p> 
        </footer>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
    <script>
        function setTheme(themeName) {
            localStorage.setItem('theme', themeName);
            document.documentElement.className = themeName;
        }
        function toggleTheme() {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-light');
            } else {
                setTheme('theme-dark');
            }
        }
        (function () {
            if (localStorage.getItem('theme') === 'theme-dark') {
                setTheme('theme-dark');
                document.getElementById('slider').checked = false;
            } else {
                setTheme('theme-light');
                document.getElementById('slider').checked = true;
            }
        })();
    </script>
</body>

</html>