@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.theme-light {
  --color-primary: #F7FFF7;
  --color-secondary: #FFE66D;
  --color-accent: #FF6B6B;
  --font-color: #1A535C;
}

.theme-dark {
  --color-primary: #1A535C;
  --color-secondary: #4ECDC4;
  --color-accent: #FFE66D;
  --font-color: #F7FFF7;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  background: var(--color-secondary);
}
.header__logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__menu {
  flex: 10;
}
.header__menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.header__menu li {
  list-style: none;
}
.header__menu a {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
  height: 30px;
  width: 40px;
  padding: 10px;
  text-align: center;
  word-wrap: none;
}
.header__themeButton {
  flex: 1;
  height: 20%;
  align-self: center;
  background: var(--font-color);
  color: var(--color-primary);
  outline: none;
  border: none;
  border-radius: 150px;
  padding: 5px 20px;
  transition-duration: 1s;
  transition-property: background, color;
}
.header__themeButton:hover {
  background: var(--color-accent);
  color: var(--font-color);
}

.container {
  width: 65%;
  margin: 0 auto;
}
.container_header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_main section {
  width: 100%;
  margin-bottom: 50px;
}

main {
  width: 100%;
  background: var(--color-primary);
}

footer {
  text-align: center;
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
  background: var(--color-secondary);
}

.container_main h1 {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
}
.container_main section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container_main h2 {
  flex-basis: 100%;
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  max-width: 300px;
  min-width: 250px;
  padding: 0 30px;
  height: fit-content;
}
.item img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.item__title {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
  text-align: center;
  margin-bottom: 10px;
}
.item__description {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
  margin-bottom: 10px;
}
.item__benefits {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
  margin-bottom: 10px;
}
.item__list {
  list-style-type: square;
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--color-accent);
  margin-bottom: 10px;
  width: 100%;
}
.item__hour {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
  margin-bottom: 10px;
}
.item__button {
  height: 40px;
  align-self: center;
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
  background: var(--color-accent);
  outline: none;
  border: none;
  padding: 5px 20px;
}
.item__check {
  margin-bottom: 10px;
}
.item svg {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 400px;
}
.form input {
  background: var(--color-secondary);
  color: var(--font-color);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
}
.form select {
  background: var(--color-secondary);
  color: var(--font-color);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
}
.form textarea {
  background: var(--color-secondary);
  color: var(--font-color);
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 15px;
  height: 50px;
  resize: none;
}
.form label {
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
}
.form button {
  height: 40px;
  align-self: center;
  font-family: "Brygada 1918", serif;
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  color: var(--font-color);
  background: var(--color-accent);
  outline: none;
  border: none;
  padding: 5px 20px;
  border-radius: 150px;
}
.form button:hover {
  animation: button 0.5s forwards ease-in-out;
}

@keyframes button {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
@media (max-width: 691px) {
  .container {
    width: 95%;
  }

  .header__menu ul {
    flex-direction: column;
  }
}
@media (min-width: 691px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 807px) {
  .container {
    width: 85%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 75%;
  }
}
@media (min-width: 1600px) {
  .container {
    width: 70%;
  }
}
@media (min-width: 1800px) {
  .container {
    width: 1220px;
  }
}