.theme-light {
    --color-primary: #F7FFF7;
    --color-secondary: #FFE66D;
    --color-accent: #FF6B6B;
    --font-color: #1A535C;
  }
  .theme-dark {
    --color-primary: #1A535C;
    --color-secondary: #4ECDC4;
    --color-accent: #FFE66D;
    --font-color: #F7FFF7;
  }
  @mixin text {
    font-family: 'Brygada 1918', serif;
    font-style: normal;
    text-decoration: none;
    font-weight: normal;
    color: var(--font-color);
}