@use '_base'as b;

*{
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background: var(--color-secondary);

    &__logo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__menu {
        flex: 10;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

        li {
            list-style: none;
        }

        a {
            @include b.text;
            height: 30px;
            width: 40px;
            padding: 10px;
            text-align: center;
            word-wrap: none;
        }
    }

    &__themeButton {
        flex: 1;
        height: 20%;
        align-self: center;
        background: var(--font-color);
        color: var(--color-primary);
        outline: none;
        border: none;
        border-radius: 150px;
        padding: 5px 20px;

        &:hover {
            background: var(--color-accent);
            color: var(--font-color);
        }
    }
}

.container {
    width: 65%;
    margin: 0 auto;

    &_header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &_main {
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            width: 100%;
        }
    }
}

main {
    width: 100%;
    background: var(--color-primary);
}